<nav class="site-nav">
    <div class="nav-inner">
        <div class="brand">Hogwarts</div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/books">Books</a></li>
            <li><a href="/characters">Characters</a></li>
            <li><a href="/houses">Houses</a></li>
            <li><a href="/spells">Spells</a></li>
        </ul>

        <input type="text" class="search" placeholder="Search...">
    </div>
</nav>